
.padTd{
    padding-left: 10px;
    padding-top: 1em;
}
.padTd2{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.size15{
    font-size: 15px;
    margin-top: 5px;
    text-align: right;
    font-weight: 600;
}